.header {
    padding: 30px;
    font-size: 50px;
    text-align: center;
    text-decoration-color: black;
  }
  h1{
    color: black;
  }



  .header {
    padding: 30px;
    font-size: 20px;
    text-align: center;
  }
  